<!DOCTYPE html>
<html>
<head>
  <title>DeviseOmniauth</title>
  <%= stylesheet_link_tag    "devise-omniauth/application", :media => "all" %>
  <%= javascript_include_tag "devise-omniauth/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
